In [1]:
import dask_geopandas
import geopandas as gpd
import numpy as np
import pandas as pd
from dask.diagnostics import ProgressBar
from scripts import DATA_DIR

ProgressBar().register()

In [ ]:
gpd.read_file(
    "/home/ycrouin/Desktop/13_brigade_coupes_rases/data_pipeline/data/natura2000/sic.zip"
)

,SITECODE,SITENAME,geometry
0,FR1100795,Massif de Fontainebleau,"MULTIPOLYGON (((676175.872 6795700.969, 676137..."
1,FR1100796,Forêt de Rambouillet,"MULTIPOLYGON (((605515.333 6842524.165, 605671..."
2,FR1100797,Coteaux et boucles de la seine,"MULTIPOLYGON (((604911.379 6882649.249, 604913..."
3,FR1100799,Haute vallée de l'Essonne,"MULTIPOLYGON (((660383.355 6798249.709, 660363..."
4,FR1100800,Pelouses calcaires de la haute vallée de la Juine,"MULTIPOLYGON (((636679.501 6808009.656, 636658..."
...,...,...,...
1350,FR7200749,Montagnes du Barétous,"MULTIPOLYGON (((386390.085 6229883.827, 386408..."
1351,FR7200752,Massif des Arbailles,"MULTIPOLYGON (((371351.236 6228235.37, 371261...."
1352,FR7200750,Montagnes de la Haute Soule,"MULTIPOLYGON (((371771.269 6223499.348, 371875..."
1353,FR9101413,Posidonies de la côte palavasienne,"POLYGON ((764008.157 6255745.243, 762998.071 6..."
1354,FR9102013,Cotes sableuses de l'infralittoral Languedocien,"MULTIPOLYGON (((735272.79 6243437.239, 735298...."

## Load input geodataframes

In [2]:
# TODO: Check why the file is sorted like this???
# nrows = 10000 for testing
sufosat = gpd.read_file(DATA_DIR / "sufosat/sufosat_clusters.fgb", rows=10000).set_index(
    "clear_cut_group"
)
sufosat

,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,geometry
clear_cut_group,,,,,,,
0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,"MULTIPOLYGON (((1219789.689 6054526.697, 12197..."
1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,"MULTIPOLYGON (((1221859.689 6054536.697, 12218..."
239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,"MULTIPOLYGON (((1221739.689 6054546.697, 12217..."
2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,"MULTIPOLYGON (((1221159.688 6055586.697, 12211..."
3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,"MULTIPOLYGON (((1219859.689 6055366.697, 12198..."
...,...,...,...,...,...,...,...
9407,2018-12-29,2019-04-20,112,9,1.000000,0.660006,"MULTIPOLYGON (((863349.689 6283216.697, 863349..."
9406,2019-01-02,2022-02-28,1153,88,0.400951,5.070035,"MULTIPOLYGON (((863059.689 6283356.697, 863059..."
9408,2019-03-03,2019-05-27,85,9,0.893943,0.590005,"MULTIPOLYGON (((863109.688 6283616.697, 863109..."
240369,2024-12-25,2024-12-25,0,1,1.000000,0.010000,"MULTIPOLYGON (((864109.689 6283786.697, 864119..."
9409,2023-11-01,2023-12-27,56,8,0.771432,0.540005,"MULTIPOLYGON (((864199.689 6283556.697, 864199..."

In [3]:
natura2000 = gpd.read_file(DATA_DIR / "natura2000/natura2000.fgb")
natura2000

                                               geometry
0     POLYGON ((1210720.465 6052079.001, 1210720.413...
1     POLYGON ((1210730.005 6052089.995, 1210730.154...
2     POLYGON ((1210783.997 6052148.31, 1210785.001 ...
3     POLYGON ((1210790.003 6052153.434, 1210791.004...
4     POLYGON ((1210750.001 6052105.998, 1210750.998...
...                                                 ...
7344  POLYGON ((490396.628 6231019.431, 490360.496 6...
7345  POLYGON ((476389.521 6214985.65, 476360.291 62...
7346  POLYGON ((471812.968 6209408.641, 471983.089 6...
7347  POLYGON ((452050.417 6206973.296, 452049.465 6...
7348  POLYGON ((483489.473 6183868.332, 483473.945 6...

[7349 rows x 1 columns]

In [4]:
slope = gpd.read_file(DATA_DIR / "slope/slope_gte_30.fgb")
slope

                                                 geometry
0       POLYGON ((1225687.5 6062937.5, 1225687.5 60629...
1       POLYGON ((1225587.5 6062937.5, 1225587.5 60629...
2       POLYGON ((1225612.5 6063462.5, 1225662.5 60634...
3       POLYGON ((1225512.5 6062912.5, 1225512.5 60628...
4       POLYGON ((1225637.5 6062712.5, 1225637.5 60626...
...                                                   ...
764107  POLYGON ((313637.5 6263537.5, 313637.5 6263487...
764108  POLYGON ((313612.5 6264112.5, 313637.5 6264112...
764109  POLYGON ((313462.5 6263987.5, 313512.5 6263987...
764110  POLYGON ((313812.5 6264437.5, 313812.5 6264412...
764111  POLYGON ((311762.5 6266637.5, 311762.5 6266537...

[764112 rows x 1 columns]

In [5]:
cadastre_cities = gpd.read_file(DATA_DIR / "cadastre_cities/cadastre_cities.fgb")
cadastre_cities

,code_insee,name,geometry
0,2A041,BONIFACIO,"MULTIPOLYGON (((1224565.26 6048583.62, 1224396..."
1,2A288,SOTTA,"MULTIPOLYGON (((1218167.952 6064022.616, 12181..."
2,2A114,FIGARI,"MULTIPOLYGON (((1209203.112 6057282.638, 12096..."
3,2A247,PORTO VECCHIO,"MULTIPOLYGON (((1222513.712 6063070.493, 12225..."
4,2A139,LECCI,"MULTIPOLYGON (((1227609.367 6078200.753, 12277..."
...,...,...,...
34801,64504,SARE,"MULTIPOLYGON (((328332.74 6249733.473, 328334...."
34802,64495,SAINT-PEE-SUR-NIVELLE,"MULTIPOLYGON (((334307.614 6254250.828, 334312..."
34803,64065,ASCAIN,"MULTIPOLYGON (((323909.196 6256586.062, 323921..."
34804,64545,URRUGNE,"MULTIPOLYGON (((323183.014 6256375.581, 323918..."
34805,64130,BIRIATOU,"MULTIPOLYGON (((316141.961 6255562.845, 316156..."

In [6]:
# TODO: We don't actually need departments if we already join with the cities?
cadastre_departments = gpd.read_file(DATA_DIR / "cadastre_departments/cadastre_departments.fgb")
cadastre_departments

,code_insee,name,geometry
0,2A,Corse-du-Sud,"MULTIPOLYGON (((1157716.68 6142364.344, 115774..."
1,2B,Haute-Corse,"MULTIPOLYGON (((1159416.005 6158689.756, 11594..."
2,83,Var,"MULTIPOLYGON (((914567.676 6279020.989, 914575..."
3,34,Hérault,"MULTIPOLYGON (((662645.732 6249747.417, 662666..."
4,13,Bouches-du-Rhône,"MULTIPOLYGON (((799594.601 6263150.832, 799602..."
...,...,...,...
92,31,Haute-Garonne,"MULTIPOLYGON (((491715.551 6229117.37, 492178...."
93,81,Tarn,"MULTIPOLYGON (((582445.189 6318934.642, 582462..."
94,11,Aude,"MULTIPOLYGON (((593491.217 6242495.488, 593597..."
95,09,Ariège,"MULTIPOLYGON (((522392.652 6204087.047, 522457..."
96,66,Pyrénées-Orientales,"MULTIPOLYGON (((594877.631 6158393.332, 594943..."

## Mega Merge

In [7]:
# TODO: how to automatically choose the right number of partitions?
sufosat_dask = dask_geopandas.from_geopandas(sufosat, npartitions=12)
sufosat_dask

Dask GeoDataFrame Structure:
                      date_min        date_max days_delta clear_cut_group_size concave_hull_score  area_ha  geometry
npartitions=12
0               datetime64[ms]  datetime64[ms]      int64                int64            float64  float64  geometry
834                        ...             ...        ...                  ...                ...      ...       ...
...                        ...             ...        ...                  ...                ...      ...       ...
9197                       ...             ...        ...                  ...                ...      ...       ...
240369                     ...             ...        ...                  ...                ...      ...       ...
Dask Name: frompandas, 1 expression
Expr=df

In [8]:
def overlay(
    left_gdf: dask_geopandas.GeoDataFrame, right_gdf: gpd.GeoDataFrame
) -> dask_geopandas.GeoDataFrame:
    """
    dask-geopandas doesn't come with the `overlay` function so we make our own.

    """
    # Perform spatial join between left and right GeoDataFrames
    right_gdf = right_gdf.assign(right_geometry=right_gdf.geometry)

    # Spatial join the GeoDataFrames (using left and right geometries)
    # dask-geopandas only supports "inner" joins
    joined_gdf = left_gdf.sjoin(right_gdf, how="inner", predicate="intersects")

    # Calculate intersection of geometries
    joined_gdf["geometry"] = joined_gdf.geometry.intersection(joined_gdf.right_geometry)

    # Drop temporary right_geometry column
    joined_gdf = joined_gdf.set_geometry(col="geometry").drop(columns="right_geometry")

    return joined_gdf

### Cities

In [9]:
# TODO: Add departments
cities = (
    overlay(sufosat_dask, cadastre_cities)
    .groupby("clear_cut_group")["code_insee"]
    .agg(list)
    .compute()
)
cities

[########################################] | 100% Completed | 1.37 sms

clear_cut_group
0         [2A041]
1         [2A041]
2         [2A041]
3         [2A041]
4         [2A041]
           ...
240365    [13092]
240366    [13029]
240367    [13044]
240368    [13044]
240369    [13044]
Name: code_insee, Length: 9998, dtype: object

In [10]:
sufosat.loc[cities.index, "cities"] = cities
sufosat["cities"].isna().sum()

np.int64(2)

In [11]:
# Some clear-cut clusters don't fall within any city polygon
# Clear-cuts without any city intersection are joined with their nearest cities
# (can be multiple cities if they are equidistant to the clear-cut)
clear_cuts_with_nearest_cities = (
    sufosat[sufosat["cities"].isna()]
    .sjoin_nearest(cadastre_cities)
    .groupby("clear_cut_group")["code_insee"]
    .agg(list)
)
clear_cuts_with_nearest_cities

clear_cut_group
8941      [13035]
239834    [04135]
Name: code_insee, dtype: object

In [12]:
sufosat.loc[clear_cuts_with_nearest_cities.index, "cities"] = clear_cuts_with_nearest_cities

In [13]:
sufosat["cities"].isna().sum()

np.int64(0)

### Natura 2000

In [14]:
# 1 hectare = 10,000 m²
natura2000_area_ha: "pd.Series[np.floating]" = (
    overlay(sufosat_dask, natura2000).area.compute() / 10000
)
natura2000_area_ha

[########################################] | 100% Completed | 30.23 s

clear_cut_group
49        0.530245
65        4.030032
68        0.038969
70        1.908461
71        2.293241
            ...
240363    0.010000
240364    0.100002
240365    0.030001
240367    0.030001
240368    0.030001
Length: 2383, dtype: float64

In [15]:
sufosat.loc[natura2000_area_ha.index, "natura2000_area_ha"] = natura2000_area_ha
sufosat

,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,geometry,cities,natura2000_area_ha
clear_cut_group,,,,,,,,,
0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,"MULTIPOLYGON (((1219789.689 6054526.697, 12197...",[2A041],NaN
1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,"MULTIPOLYGON (((1221859.689 6054536.697, 12218...",[2A041],NaN
239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,"MULTIPOLYGON (((1221739.689 6054546.697, 12217...",[2A041],NaN
2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,"MULTIPOLYGON (((1221159.688 6055586.697, 12211...",[2A041],NaN
3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,"MULTIPOLYGON (((1219859.689 6055366.697, 12198...",[2A041],NaN
...,...,...,...,...,...,...,...,...,...
9407,2018-12-29,2019-04-20,112,9,1.000000,0.660006,"MULTIPOLYGON (((863349.689 6283216.697, 863349...",[13044],0.660006
9406,2019-01-02,2022-02-28,1153,88,0.400951,5.070035,"MULTIPOLYGON (((863059.689 6283356.697, 863059...",[13044],5.070035
9408,2019-03-03,2019-05-27,85,9,0.893943,0.590005,"MULTIPOLYGON (((863109.688 6283616.697, 863109...",[13044],0.590005
240369,2024-12-25,2024-12-25,0,1,1.000000,0.010000,"MULTIPOLYGON (((864109.689 6283786.697, 864119...",[13044],NaN
9409,2023-11-01,2023-12-27,56,8,0.771432,0.540005,"MULTIPOLYGON (((864199.689 6283556.697, 864199...",[13044],NaN

### Slope

In [16]:
# Get the geometry of the intersection between SUFOSAT and the slopes
slope_intersection = overlay(sufosat_dask, dask_geopandas.from_geopandas(slope, npartitions=12))

# Since we want the area of the single large continuous slope polygon
# we explode multi-polygons into simple polygons
slope_intersection = slope_intersection.explode()

# Compute the simple polygons intersection area
# 1 hectare = 10,000 m²
slope_area_ha: "pd.Series[np.floating]" = slope_intersection.area.compute() / 10000

# A clear-cut cluster can intersect with several slope polygons. In our case,
# we want to keep the single largest slope intersection area for each cluster
slope_area_ha = slope_area_ha.sort_values(ascending=True)
slope_area_ha = slope_area_ha[~slope_area_ha.index.duplicated(keep="last")]

slope_area_ha

[########################################] | 100% Completed | 447.69 s

clear_cut_group
394       0.000176
287       0.000176
1653      0.000176
8214      0.000176
9315      0.000176
           ...
2272     38.811337
4951     40.769823
320      49.369028
2271    146.459850
2633    155.534403
Length: 2332, dtype: float64

In [17]:
sufosat.loc[slope_area_ha.index, "slope_area_ha"] = slope_area_ha
sufosat

,date_min,date_max,days_delta,clear_cut_group_size,concave_hull_score,area_ha,geometry,cities,natura2000_area_ha,slope_area_ha
clear_cut_group,,,,,,,,,,
0,2018-12-07,2019-02-17,72,13,1.000000,0.520004,"MULTIPOLYGON (((1219789.689 6054526.697, 12197...",[2A041],NaN,NaN
1,2019-12-01,2019-12-31,30,6,0.928574,0.520004,"MULTIPOLYGON (((1221859.689 6054536.697, 12218...",[2A041],NaN,NaN
239744,2021-02-05,2021-02-05,0,1,1.000000,0.060001,"MULTIPOLYGON (((1221739.689 6054546.697, 12217...",[2A041],NaN,NaN
2,2023-06-07,2023-12-05,181,13,1.000000,0.920005,"MULTIPOLYGON (((1221159.688 6055586.697, 12211...",[2A041],NaN,NaN
3,2021-01-13,2023-03-15,791,137,0.640423,11.550035,"MULTIPOLYGON (((1219859.689 6055366.697, 12198...",[2A041],NaN,0.011783
...,...,...,...,...,...,...,...,...,...,...
9407,2018-12-29,2019-04-20,112,9,1.000000,0.660006,"MULTIPOLYGON (((863349.689 6283216.697, 863349...",[13044],0.660006,NaN
9406,2019-01-02,2022-02-28,1153,88,0.400951,5.070035,"MULTIPOLYGON (((863059.689 6283356.697, 863059...",[13044],5.070035,NaN
9408,2019-03-03,2019-05-27,85,9,0.893943,0.590005,"MULTIPOLYGON (((863109.688 6283616.697, 863109...",[13044],0.590005,NaN
240369,2024-12-25,2024-12-25,0,1,1.000000,0.010000,"MULTIPOLYGON (((864109.689 6283786.697, 864119...",[13044],NaN,NaN
9409,2023-11-01,2023-12-27,56,8,0.771432,0.540005,"MULTIPOLYGON (((864199.689 6283556.697, 864199...",[13044],NaN,NaN

## Sanity check, make sure we get the same results as before...

In [18]:
# import pandas as pd

# www[
#     (www["date_min"] >= pd.Timestamp(2024, 1, 1))
#     & (www["date_max"] < pd.Timestamp(2025, 1, 1))
#     & (www["natura2000_area_ha"] >= 2)
# ]

In [19]:
# import pandas as pd

# www[
#     (www["date_min"] >= pd.Timestamp(2024, 1, 1))
#     & (www["date_max"] < pd.Timestamp(2025, 1, 1))
#     & (www["natura2000_area_ha"] >= 0.5)
# ]